
body {
    background-image: url("mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

#LAIRRLOGO h1{
    font-size: 60px;
    font-family: "Orbitron", serif;
    color: white;
    padding-right: 1100px;
    margin-top: 50px;

}

#main-container {
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 120px 100px;
    width: 80%;
    max-width: 1200;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-top: 0px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#main-container h3 {
    font-family: "Basic", sans-serif;
    font-size: 60px;
    margin: 0;

    color: transparent;
    background-image: url(buttonbg.png);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chat-button {
    font-size: 17px;
    border-radius: 300px;
    padding: 20px 70px;
    background-image: url("buttonbg.png");
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    color: white;
    font-family: "Basic", sans-serif;

}

#secondary-container {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 90px;
    padding: 40px 40px;
    width: 60%;
    max-width: 1000px;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: left;
    flex: 1;
    gap: 70px;
    margin-left: 30px;
}

.nav-links a{
    color: white;
    font-size: large;
    text-decoration: none;
}

#light {
    margin-left: auto;
    margin-right: 30px;
}

#light img {
    width: 24px;
    height: 24px;

}