body{
    background-image: url("background.jpg");
    background-size: cover;
}
h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    color: white;
    margin: 30px;
    }
.chat{
    display:flex;
    flex-direction:column;
    width: 60%;
    max-width: 900px;
    align-items:center;
    justify-content:center;
    height:130vh;
    margin-left: 20%;;
    position: relative;
    }
/*for a navy blue text box*/
 #text-box{
    width: 70%;
    padding: 4%;
    border: 5px solid rgb(2, 2, 41);
    border-radius: 30px;
    font-size: 15px;
    background: rgb(3, 3, 46);
    color:white;
    backdrop-filter: blur(10px);
}

#button{
    position: absolute;
    border-radius: 50%;
    width:5.5%;
    height: 5.5%;
    right: 15%;
    top: 53.5%;
    transform: translateY(-50%);
    padding: 1%;
    background-image: url("button.png");
    background-size: cover;
    background-position: center;
    border: none;
    color: white;
    font-size: 100%;
    cursor: pointer;
}

#button:hover{
    background-image:url(button.png);
    box-shadow: 0 0 10px rgba(82, 24, 175, 0.7);
}
.hijab{
    display:flex;
    justify-content: center;
    background-image: url(hijab.png);
    width: 30%;
    height: 40%;
    background-size: cover;
    position: absolute;
    top: -5%;
}
.suggestions{
    display: flex;
    gap: 5%;
    align-self: flex-start;
    margin-left: 12%;
    margin-bottom: 2%;
}
.sample{
    width: 100px;
    padding: 10px;
    background: rgba(27, 27, 66, 0.8);
    color: white;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    align-self:flex-start;
}



